*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
    height: 308px;
}
.headercontent{
    max-width: 1920;
    width: 100%;
    padding-top: 70px;
}
h1{
    color: azure;
}
.headercontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1429px;
    margin: 0 auto 0 auto;
    align-items: center;
}
.headerdots{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 90%;
    margin: 0 10px;
}
.headerdotsmom{
    display: flex;
    flex-direction: row; 
}
.imgpk{
    display: flex;
    max-width: 1680px;
    width: 100%;
    margin-left: auto;
    height: 480px;
    background-color:brown;
}
.imgs{
    height: 420px;
    width: 463px;
    margin-right: 25px;
    align-self: flex-end;
}
.imgsout{
    align-self: stretch;
    margin-bottom: 200px;
}
